th{
    background: linear-gradient(180deg, #561597 0%, rgba(0, 26, 255, 0.33) 100%);
}

#container{
    width: 80vw;
    height: 80vh;
    background: url(../IMG/gif\ aphelios);
    background-size: cover;
}